{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "react-native"
  ],
  "env": {
    "mocha": true,
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".android.js", ".ios.js"]
      }
    }
  },
  "rules": {
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 2,
    "react/jsx-no-bind": 1,
    "react/prefer-stateless-function": 1,
    "react/jsx-indent": 1
  }
}
